<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 자바스크립트 인라인 사용 전 -->
<script>
    var username = [[${user.username}]]; // userA
    var age = [[${user.age}]]; // 10
    //자바스크립트 내추럴 템플릿
    var username2 = /*[[${user.username}]]*/ "test username"; // /*userA*/ "test username"
    //객체
    var user = [[${user}]]; // Java Object 형태 BasicController.User(username=userA, age=10)
</script>
<!-- 자바스크립트 인라인 사용 후 -->
<script th:inline="javascript">
    var username = [[${user.username}]]; // "userA"
    var age = [[${user.age}]]; // 10
    //자바스크립트 내추럴 템플릿 -> /**/ 내의 값으로 초기화
    var username2 = /*[[${user.username}]]*/ "test username";
    //객체 -> Javascript Object로 변환 {"username":"userA","age":10}
    var user = [[${user}]];

    /*
     * 추가
     * 자동으로 escape
     */

    // 자바스크립트 인라인 each
    [# th:each="user, stat : ${users}"]
    var user[[${stat.count}]] = [[${user}]];
    [/]


</script>
</body>
</html>